aside {
    padding-top: 10px;
}

.jumbotron {
    background-image: linear-gradient(to right, blue, cyan);
    color: white;
    text-align: center;
}

#weatherData {
    border-style: solid;
}

.current-city-data {
    min-height: 250px;
}

tr {
    margin: 5px;
}

.card {
    background-color: blue;
    margin: 2px;
    min-height: 250px;
}

.cardContent {
    padding: 15px;
}